.container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.container p {
  font-size: 14px;
}

.card {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: flex-start;
  border: solid rgba(128, 128, 128, 0.227) 1px;
  margin: 1rem;
  cursor: pointer;
}

.card img {
  width: 196px;
  height: 200px;
  margin-bottom: 0.5rem;
  object-fit: cover;
}
.scrollButtons {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  position: relative;
}
.scrollButtons button {
  background-color: rgba(169, 169, 169, 0.169);
  border: none;
  border-radius: 30%;
  font-size: 44px;
}

.scrollButtons button:first-child {
  position: absolute;
  top: 150px;
  left: -55px;
}
.scrollButtons button:last-child {
  position: absolute;
  top: 150px;
  right: -55px;
}

.card:last-child {
  border: none;
}
.card p,
.card h2 {
  padding: 0.4rem;
  margin-left: 0.3rem;
}

.card p {
  margin-bottom: 0.5rem;
}

.cardActive {
  border: solid blue 2px;
}

.input {
  position: relative;
  margin-left: 1rem;
  margin-top: 3rem;
  border: 1px solid rgba(128, 128, 128, 0.531);
  border-radius: 10px;
  padding-left: 1rem;
}

.magnify {
  position: absolute;
}

.title {
  margin-left: 1rem;
  margin-top: 1rem;
}

.firstWord {
  font-size: inherit;
  font-weight: 200;
}

.sort {
  margin-left: 1rem;
  padding: 4px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.531);
  border-radius: 10px;
}

.sort:active {
  background-color: rgba(0, 0, 0, 0.112);
  color: white;
}
