.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  height: 80vh;
  width: 450px;
}
.colorWhite {
  color: white;
}
.colorBlack {
  color: black;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherContainer img {
  object-fit: contain;
}

.container h2 {
  font-size: 1.5rem;
}

.wrapperWeather {
  display: flex;
  justify-content: center;
}
.wrapperWeather p {
  padding-left: 1rem;
  font-size: 2rem;
  position: relative;
}

.wrapperWeather p::after {
  content: "°C";
  font-size: 1.5rem;
  font-weight: lighter;
  position: absolute;
  top: 0;
}

.weatherContainer > p {
  font-size: 1rem;
}

.wrapperTime {
  width: 100%;
  display: flex;
  margin-top: 6rem;
}

.wrapperTimeItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.wrapperTimeItem p:first-child {
  font-size: 1rem;
  font-weight: bold;
}
.wrapperTimeItem p:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 400;
}

.backgroundDay {
  background-image: url("../../../public/backgrounds/sun.jpg");
}

.backgroundNight {
  background-image: url("../../../public/backgrounds/night.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
