.container {
  width: 100%;
  max-width: 1680px;
  margin-top: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  --size: calc((100% / 12) * 1);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-2 {
  --size: calc((100% / 12) * 2);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-3 {
  --size: calc((100% / 12) * 3);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-4 {
  --size: calc((100% / 12) * 4);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-5 {
  --size: calc((100% / 12) * 5);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-6 {
  --size: calc((100% / 12) * 6);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-7 {
  --size: calc((100% / 12) * 7);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-8 {
  --size: calc((100% / 12) * 8);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-9 {
  --size: calc((100% / 12) * 9);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-10 {
  --size: calc((100% / 12) * 10);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-11 {
  --size: calc((100% / 12) * 11);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-12 {
  --size: calc((100% / 12) * 12);
  flex-basis: var(--size);
  max-width: var(--size);
}
