* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 24px;
  margin: 0;
}

h1 {
  font-size: 26px;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

::-webkit-scrollbar {
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f8f5f5;
}

::-webkit-scrollbar-thumb {
  background: #88888855;
}
::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a46;
}
