.container {
  font-size: 24px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.container input,
.container select {
  width: 80%;
  font-size: 16px;
  height: 1rem;
  margin: 0.5rem;
}
.container label {
  width: 100%;
  font-size: 16px;
  margin-left: 5rem;
}

.container label span {
  margin-left: 1rem;
}
.wrapper {
  position: relative;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 33%;
  border: solid 2px rgba(0, 0, 0, 0.329);
  box-shadow: 10px 5px 50px 2px;
  min-width: 600px;

  height: 60vh;
}

.wrapper h1 {
  width: 100%;
  font-weight: 400;

  margin: 0.5rem 0 0.5rem 0;
  padding: 1rem 1rem 1rem 2rem;
  border-bottom: solid 3px rgba(128, 128, 128, 0.305);
}

.closeButton {
  position: absolute;
  font-size: 44px;
  color: gray;
  font-weight: 300;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.buttons {
  margin: 0 2.5rem 1rem 1rem;
  display: flex;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}

.buttons button {
  padding: 0.2rem;
  margin-left: 1rem;
  font-size: 16px;
}

.buttons button:first-child {
  background-color: rgba(255, 255, 255, 0.528);
}

.buttons button:nth-child(2) {
  background-color: #1a6dfd;
  color: white;
}
